<section class="highlighted text-color-light">
  <div class="flex-bullet-slider vertical-center text-center">
    <img src="images/header-clients.jpg" class="img-responsive img-full-width section-header-img">
    <figcaption class="overlay text-center">
      <div class="slider-title vertically-center-inside-block container">
          <h1>
              We Are Your Virtual Photographer
          </h1>
          <h6>
              WITH OVER 100+ MODELS TO CHOOSE FROM
          </h6>
      </div>
    </figcaption>
  </div> <!-- /flex-bullet-slider -->
</section> <!-- /highlighted-region -->

<section class="content region">
  
  <div id="portfolio-content-block" class="portfolio-content block">
    <div class="container">
      <div class="row">
	      <h2 class="section-title">
	      	Our Clients
	      </h2>	
      </div>
      <div class="row">
        <div class="portfolio-item col-xs-12 col-sm-6 col-md-4" ng-repeat="client in clients">
          <div class="portfolio-image">
            <div class="box">
                <img class="img-responsive" ng-src="images/portfolio/{{client.img}}" />
            </div>
            <div class="portfolio-overlay">
              <!-- h6 class="portfolio-title">Adasa</h6 -->
            </div>
          </div> <!-- /portfolio-image -->
        </div> <!-- /portfolio-item -->
      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /portfolio-content-block -->
</section>

<section class="content-5 region bg-color-theme text-color-light">
  <div class="call-to-action-1 block">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4 class="call-to-action-1-text">
            Let us schedule a demo?
          </h4>
          <a href="/#contact" class="call-to-action-1-button btn btn-default">
             Get in touch
          </a>
        </div>
      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /call-to-action-1-block -->
</section> <!-- /content-1-region -->
