<fullpage ng-controller="DemoCtrl">
<section id="top-content-region" class="top-content region-0 padding-top-large padding-bottom-15 block-15">

  <div class="container col-xs-10 col-xs-offset-1">

    <div class="row">
      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
        <div class="region">
          <div id="page-title-block" class="page-title block">
            <h1>Take the FlixStock Challenge</h1>
            <p>
            Can you pick the computer generated image below?
            </p>
          </div> <!-- /page-title-block -->
        </div> <!-- /region -->
      </div>
      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
        <div class="text-center margin-sm-10 margin-top-20">
          <a href="#/solution" class="btn btn-primary">Test us now !</a>
          <a href="#/solution" class="btn btn-primary" style="border:0;">Request a demo.</a>
        </div> <!-- /row -->
      </div>
    </div>

    <div class="row demo-intro">
        <div class="demo-image col-xs-6">
          <img class="img-responsive" src="images/turing/flix/pic001_tshirt.jpg" alt="Demo" title="Demo Test" />
          <div class="demo-overlay">
            <div class="demo-title">
                <i class="icon ion-close-round"></i>
                <h6>Cross the computer generated image</h6>
            </div> 
          </div>
        </div> <!-- /demo-image -->
        <div class="demo-image col-xs-6">
          <img class="img-responsive" src="images/turing/flix/pic002_jersey.jpg" alt="Demo" title="Demo Test" />
          <div class="demo-overlay">
            <div class="demo-title">
                <i class="icon ion-close-round"></i>
                <h6>Cross the computer generated image</h6>
            </div> 
          </div>
        </div> <!-- /demo-image -->
    </div>
      
  </div>

</section>

</div>
