<div class="sticky-wrapper" ng-controller="HeaderCtrl">
  <header class="sticky" ng-class='navClass()'>
    <div class="row">
  
      <div id="logo-region" class="logo col-xs-6 col-md-2 text-center-sm">
        <a href="#/">
          <img src="logo.png" alt="logo" class="logo-light img-responsive" />
        </a>
      </div> <!-- /logo-region -->
  
      <div id="menu-region" class="col-md-9">
        <nav class="navbar nestor-main-menu" role="navigation">
          <!-- Menu button for mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="icon ion-navicon-round"></i>
            </button>
          </div>
  
          <!-- Navigation links -->
          <div style="width:100%;">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-right navbar-nav">
                <li ng-class="isActive('solution')">
                  <a href="#/solution">Solution</a>
                </li>
                <li ng-class="isActive('clients')">
                  <a href="#/clients">Clients</a>
                </li>
                <li ng-class="isActive('partners')">
                <a href="#/partners">Studio Partners</a>
                </li>
                <li ng-class="isActive('demo')">
                  <a href="#/demo">Demo</a>
                </li>
              </ul>
            </div> <!-- /navbar-collapse -->
          </div>
        </nav>
      </div> <!-- /menu-region -->
     
    </div> <!-- /row -->
  </header>
</div>
