<section class="highlighted text-color-light">
	<div class="highlighted-slider-1 bg-image-collage" data-stellar-background-ratio="0.7">
	  <div class="overlay overlay-30">
	    <div class="flex-bullet-slider vertical-center text-center">
	      	<centered>
		      	<flex-slider slide="s in slides track by $index" animation="fade" slideshow-speed="10000" pauseOnHover="true" direction-nav="false">
		      		<li>
		      			<div class="slider-title">
		      			  <span>
		      				{{s.title}}
		      			  </span>
		      			</div>
		      			<p class="slider-description">{{s.description}}</p>
		      			<a ng-click='gotoSolution()' class="btn btn-default">How it works</a>
		      			<a href="#/demo" class="btn btn-primary">Compare our images</a>
		      		</li>
		        </flex-slider>
		    </centered> 
	    </div> <!-- /flex-bullet-slider -->
	  </div> <!-- /overlay -->
	</div> <!-- /highlighted-slider-1-block -->
</section> <!-- /highlighted-region -->

<section id="solution" class="content region padding-top-large">

	<div class="panels-1">
	  <div class="container">
	    <div class="row">
	      <h2 class="section-title padding-bottom-20">
	      	Our Solution
          </h2>
        </div>
        
        <div class="row solution-images">
	    
          <div class="panels-item col-xs-12 col-md-4">
	        <h6>SHOOT THE PRODUCT</h6>
	        <p>Product photoshoots are done on Mannequins and are much trivial compared to a model photoshoot.</p>
            <img class="img-responsive" ng-src="{{garment}}" />
	      </div> <!-- /panels-item -->
          
          <div class="panels-item col-xs-12 col-md-4">
	        <h6>SHOOT THE MODEL</h6>
            <p>Models are photographed separately and you can select from our catalogue of models aswell.<br>
            <div id="select-model"> 
              <i class="icon ion-android-camera"></i>
              <p>Click..Pick..Models</p>
            </div>
	      </div> <!-- /panels-item -->
	      
	      <div class="panels-item col-xs-12 col-md-4">
	        <h6>CATALOG IMAGES</h6>
	        <p>We quality check each and every Flixstock generated image.</p>
		    <flex-slider slide="img in images track by $index" animation="slide" slideshow-speed="1500" control-nav="false" direction-nav="false" >
		      <li>
                <img class="img-responsive" ng-src="{{img}}" />
              </li>
            </flex-slider>
	      </div> <!-- /panels-item -->
	    
	    </div> <!-- /row -->

	  </div> <!-- /container -->    
	</div> <!-- /panels-1-block -->

</section> <!-- /content-region -->

<section id="benefits" class="content region padding-top-large bg-pattern-fabric_plaid">

    <div class="pricing-tables-1 block">

	  <div class="container">
	    <div class="row">
	      <h2 class="section-title padding-bottom-20">
	      	Benefits
          </h2>
        </div>
    
        <div class="row">
            
            <div class="col-xs-12 col-md-5 col-md-offset-1">
              <div class="pricing-table margin-top-sm-50">
                <div class="pricing-table-title">
                  <h4>Traditional Photoshoots</h4>
                </div> <!-- /pricing-table-title -->
                <div class="pricing-table-price">
                  <h3>Over $100 per image</h3>
                </div> <!-- /pricing-table-price -->
                <div class="pricing-table-description">
                  <ul class="list-unstyled">
                    <li>Models</li>
                    <li>Make Up Artist</li>
                    <li>Arranging Photoshoots</li>
                    <li>Post Processing</li>
                    <li class="line-through">A/B Test Images</li>
                    <li>Time Invested</li>
                  </ul>
                </div> <!-- /pricing-table-description -->
                <div class="pricing-table-button">
                  <a class="btn btn-default line-through" disabled>WE DON'T DO THIS</a>
                </div> <!-- /pricing-table-button -->
              </div> <!-- /pricing-table -->
            </div> <!-- /col-xs-12 -->
            
            <div class="col-xs-12 col-md-5">
              <div class="pricing-table pricing-table-promotional margin-top-sm-50">
                <div class="pricing-table-title">
                  <h4>Flixstock New</h4>
                </div> <!-- /pricing-table-title -->
                <div class="pricing-table-price">
                  <h3>$10 per image</h3>
                </div> <!-- /pricing-table-price -->
                <div class="pricing-table-description">
                  <ul class="list-unstyled">
                    <li class="line-through">No Models</li>
                    <li class="line-through">No Make Up Artist</li>
                    <li class="line-through">No Arranging Photoshoots</li>
                    <li class="line-through">No Post Processing</li>
                    <li class="highlight">A/B Test Images</li>
                    <li class="highlight">Save Time</li>
                  </ul>
                </div> <!-- /pricing-table-description -->
                <div class="pricing-table-button">
                  <a href="#/contact" class="btn btn-primary">Get in touch</a>
                </div> <!-- /pricing-table-button -->
              </div> <!-- /pricing-table -->
            </div> <!-- /col-xs-12 -->
            
        </div>
      </div>
    </div>
	    
</section>

<section id="testimonials" class="content region bg-image-client text-color-light">
  <div class="testimonials-1">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
              <span class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme">
              <p class="size-32">A few letters of appreciation</p>
              </span>
             <flex-slider slide="t in testimonials track by $index" animation="none" 
                          slideshow-speed="20000" slideshow="false" pauseOnHover="true"
                          control-nav="false" direction-nav="true" prev-text="" next-text="">
               <li>
                 <h4 class="testimonials-1-text lato-font">
                   {{t.testimonial}}
                 </h4>
                 <p class="testimonials-1-author text-color-theme">
                   {{t.person}}
                 </p>
                 <p>
                   <a href="{{t.url}}" target="_blank">
                     <i>
                       {{t.company}}
                     </i>
                   </a>
                 </p>
               </li>
             </flex-slider>
         </div>
       </div>
     </div>
  </div>
</section>

<section class="content region padding-top-large bg-color-theme text-color-light">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-first-column col-xs-12 col-md-4 text-center">
            <div class="footer-address block">
              <i class="icon ion-ios7-location-outline size-32 margin-bottom-20"></i>
              <p>New Delhi, India</p>
            </div> <!-- /footer-address-block -->
        </div> <!-- /footer-first-column-region -->
        
        <div id="footer-second-column-region" class="footer-second-column col-xs-12 col-md-4 text-center">
            <div class="footer-mail block">
              <i class="icon ion-ios7-email-outline size-32 margin-bottom-20"></i>
              <p><a href="mailto:contact@flixstock.com">contact@flixstock.com</a></p>
            </div> <!-- /footer-mail-block -->
        </div>  <!-- /footer-second-column-region -->

        <div id="footer-third-column-region" class="footer-third-column col-xs-12 col-md-4 text-center">
            <div class="footer-phone block">
              <i class="icon ion-ios7-telephone-outline size-32 margin-bottom-20"></i>
              <p>1-(949)-945-2046</p>
            </div> <!-- /footer-phone-block -->
        </div>  <!-- /footer-third-column-region -->

      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /container -->  
</section>




