<section id="highlighted-region" class="highlighted text-color-light">
	<div id="highlighted-slider-1-block" class="highlighted-slider-1 bg-image-collage" data-stellar-background-ratio="0.7">
	  <div class="overlay">
	    <div class="flex-bullet-slider vertical-center text-center">
	      <div class="container">
	      	<centered>
		      	<flex-slider slide="s in slides track by $index" animation="fade" animationSpeed="8000" >
		      		<li>
		      			<div class="slider-title">
		      			  <span>
		      				{{s.title}}
		      			  </span>
		      			</div>
		      			<p class="slider-description">{{s.description}}</p>
		      			<a ng-click='gotoBenefits()' class="btn btn-default">How it Works</a>
		      			<a href="#/demo" class="btn btn-primary">Our Turing Test</a>
		      		</li>
		        </flex-slider>
		    </centered> 
	  	  </div><!-- /container -->
	    </div> <!-- /flex-bullet-slider -->
	  </div> <!-- /overlay -->
	</div> <!-- /highlighted-slider-1-block -->
</section> <!-- /highlighted-region -->


<section id="benefits" class="content region padding-top-large">

	<div id="panels-1-block" class="panels-1 block">
	  <div class="container">
	    <div class="row">
	      <h2 class="section-title padding-bottom-large">
	      	Our Solution
	      </h2>	
	      
	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-woman text-color-theme"></i>
	        <h6>SELECT MODELS</h6>
	        <p>Select from our catalogue of models.</p>
	      </div> <!-- /panels-item -->
	      
	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-android-camera text-color-theme"></i>
	        <h6>PHOTOSHOOT MANNEQUINS</h6>
	        <p>Mannequin photoshoots are trivial compared to a model photoshoot.</p>
	      </div> <!-- /panels-item -->
	      
	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-images text-color-theme"></i>
	        <h6>SEND US IMAGES</h6>
	        <p>We check if the image parameters matches our criteria (lighting, shadows, etc).</p>
	      </div> <!-- /panels-item -->

	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-arrow-expand text-color-theme"></i>
	        <h6>FIT GARMENTS</h6>
	        <p>The Flixstock algorithm fits garments on selected model silhouettes.</p>
	      </div> <!-- /panels-item -->

	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-checkmark-circled text-color-theme"></i>
	        <h6>QUALITY CHECK</h6>
	        <p><b>Photoshop experts</b> quality check each and every Flixstock image.</p>
	      </div> <!-- /panels-item -->
	    
	      <div class="panels-item col-xs-12 col-md-4">
	        <i class="icon ion-social-dropbox text-color-theme"></i>
	        <h6>CATALOG READY</h6>
	        <p>The whole process at Flixstock takes one hour to a few hours.</p>
	      </div> <!-- /panels-item -->
	    </div> <!-- /row -->

	    <div class="row text-center">
		   <a href="#/solution" class="btn btn-primary">Learn More</a>
		</div> <!-- /row -->

	  </div> <!-- /container -->    
	</div> <!-- /panels-1-block -->

</section> <!-- /content-region -->


<section class="content region padding-top-large">
  <div class="footer">
    <div class="container text-center">
      <p><span class="glyphicon glyphicon-heart"></span> FlixStock 2015</p>
    </div> <!-- /container -->  
  </div>
</section>
