<section class="highlighted text-color-light">
  <div class="flex-bullet-slider vertical-center text-center">
    <img src="images/background-images/studio.jpg" class="img-responsive img-full-width" alt="Studio" title="Studio">
    <figcaption class="overlay overlay-30 text-center">
      <div class="slider-title vertically-center-inside-block container">
          <h1>
              We help photographers grow.
          </h1>
      </div>
    </figcaption>
  </div> <!-- /flex-bullet-slider -->
</section> <!-- /highlighted-region -->

<section class="content-1 region bg-color-theme text-color-light">
  <div class="call-to-action-1 block">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h6 class="call-to-action-1-text">
          Join the Flixstock Partner Program to maximize capacity utilization and to share Flixstock client revenues.
          </h6>
          <h6 class="call-to-action-1-text">
          <a href="/#contact" class="btn btn-default margin-20">
          Contact us
          </a>
          </h6>
        </div>
      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /call-to-action-1-block -->
</section> <!-- /content-1-region -->
