<div class="row imagepoll-intro">
  <div class="col-xs-12">
  <div class="row">
    <div class="imagepoll-image col-xs-6">
      <img class="img-responsive" ng-src="{{imageLeftSrc}}" ng-click="onLeftClick()" />
      <div class="imagepoll-overlay">
        <div class="imagepoll-title">
            <i class="{{overlayIconCls}}"></i>
            <h6>{{overlayMessage}}</h6>
        </div> 
      </div>
    </div> <!-- /imagepoll-image -->
    <div class="imagepoll-image col-xs-6">
      <img class="img-responsive" ng-src="{{imageRightSrc}}" ng-click="onRightClick()" />
      <div class="imagepoll-overlay">
        <div class="imagepoll-title">
            <i class="{{overlayIconCls}}"></i>
            <h6>{{overlayMessage}}</h6>
        </div> 
      </div>
    </div> <!-- /imagepoll-image -->
  </div>
  </div>
</div>
