
<div class="row demo-intro">
    <div class="demo-image col-xs-6">
      <img class="img-responsive" ng-src="{{imageLeftSrc}}" ng-click="onLeftClick()" />
      <div class="demo-overlay">
        <div class="demo-title">
            <i class="{{overlayIconCls}}"></i>
            <h6>{{overlayMessage}}</h6>
        </div> 
      </div>
    </div> <!-- /demo-image -->
    <div class="demo-image col-xs-6">
      <img class="img-responsive" ng-src="{{imageRightSrc}}" ng-click="onRightClick()" />
      <div class="demo-overlay">
        <div class="demo-title">
            <i class="{{overlayIconCls}}"></i>
            <h6>{{overlayMessage}}</h6>
        </div> 
      </div>
    </div> <!-- /demo-image -->
</div>
