
/** imagepoll directive **/

.flexslider{
  border: 0px;
  background: transparent;
  margin: 0px;
}

.imagepoll-block .imagepoll-center{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  margin-left: -1em;
  margin-right: -1em;
}

.imagepoll-block .imagepoll-center h6{
  font-size: inherit;
}

.imagepoll-block .imagepoll-center h6:after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 15px;
  margin: 10px auto 20px;
  background: cadetblue;
}


.imagepoll-item {
  margin-top: 40px;
  bottom: 40px;
}

.imagepoll-image {
  position: relative;
}

.imagepoll-image img {
  width: 100%;
}

.imagepoll-intro {
}

.imagepoll-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: cadetblue;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.imagepoll-image:hover .imagepoll-overlay {
  opacity: 1;
}

.imagepoll-overlay .imagepoll-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -4em;
  text-align: center;
  color: inherit;
  -webkit-transition: inherit; 
     -moz-transition: inherit; 
       -o-transition: inherit;
          transition: inherit;
}

.imagepoll-overlay .imagepoll-icon > .icon {
  font-size: 8em;
}

.imagepoll-overlay .imagepoll-title {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  -webkit-transition: inherit; 
     -moz-transition: inherit; 
       -o-transition: inherit;
          transition: inherit;
}

/*
.imagepoll-left .imagepoll-title{
  right: 10%;
}

.imagepoll-right .imagepoll-title{
  left: 10%;
}
*/

.imagepoll-overlay .imagepoll-title > h6 {
  color: white;
  font-style: italic;
  font-weight: 900;
  font-size: 2em;
  background-color: cadetblue;
  padding: 0 10px;
  line-height: 1.6em;
  border-radius: 0.8em;
  margin: 0;
  opacity: 0.95;
  width: auto;
  display: inline-block;
}

.imagepoll-overlay .imagepoll-title > h6 > a {
  color: inherit;
}

.imagepoll-overlay .imagepoll-title > h6 > a:hover {
  font-weight: bolder;
  color: inherit;
}


.ff-correct {
  color: palegreen;
}

.ff-wrong {
  color: palevioletred;
}

/** demo Single **/
.imagepoll-single-image {
  width: 100%;
}
