
/** imagepoll directive **/

.imagepoll-item {
  margin-top: 40px;
  bottom: 40px;
}

.imagepoll-image {
  position: relative;
}

.imagepoll-image img {
  width: 100%;
}

.imagepoll-intro {
}

.imagepoll-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: palegoldenrod;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.imagepoll-image:hover .imagepoll-overlay {
  opacity: 1;
}

.imagepoll-overlay .imagepoll-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -4em;
  text-align: center;
  color: inherit;
  -webkit-transition: inherit; 
     -moz-transition: inherit; 
       -o-transition: inherit;
          transition: inherit;
}

.imagepoll-overlay .imagepoll-icon > .icon {
  font-size: 8em;
}

.imagepoll-overlay .imagepoll-title {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  -webkit-transition: inherit; 
     -moz-transition: inherit; 
       -o-transition: inherit;
          transition: inherit;
}

.imagepoll-overlay .imagepoll-title > h6 {
  color: white;
  font-style: italic;
  font-weight: 900;
  font-size: 2em;
  background-color: palegoldenrod;
  padding: 0 10px;
  line-height: 1.6em;
  border-radius: 0.8em;
  margin: 0;
  opacity: 0.8;
  width: auto;
  display: inline-block;
}

.ff-correct {
  color: green;
}

.ff-wrong {
  color: red;
}

/** demo Single **/
.imagepoll-single-image {
  width: 100%;
}
